.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    border-radius: 6px;
    background-color: bisque;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.2);
  }

.card > .header {
    margin-bottom: .25rem;
}

.card > .body {
    font-size: .8rem;
    color: #777;
    margin-bottom: 1rem;
}

.card > .status {
    font-size: .8rem;
    color: #777;
    font-style: italic;
}

.hide {
    display: none;
}

.welcome_section {
    font-family: "Comfortaa", regular;
    text-align: center;
}

body {
    font-family: "Comfortaa", regular;
}